/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;font-family: sans-serif;
    font-size: 14 px;
    /* font-style: initial; */
    font-size: medium; }
.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

::ng-deep .mat-form-field .mat-input-element {
    color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-label {
    color: slategray!important;
}
::ng-deep .mat-form-field .mat-form-field-underline {
    background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-ripple {
    background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-required-marker {
    color: slategray;
}


::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #ff884d!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #ff884d;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
    color: #ff884d;
}
::ng-deep .mat-form-field.mat-focused .mat-input-element {
    color: #ff884d;
}




::ng-deep .mat-form-field.mat-form-field-invalid .mat-input-element {
    color: #ff33cc;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #ff33cc!important;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
    color: #ff33cc;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: #ff33cc;
}
.pointer{
    cursor: pointer;
    
}
.mainBody{
    background-color: white;
    width: 1000px;
    text-align: center;
    margin: 10% 0% 20% 0%;
        border: 1px solid gray;

}
.h1Text{
    background-color: gray;
}
.matTable{
    width: 100%;
}
.matTable tbody{
   background-color: #f3ebeb77;
}
.anchor{
    text-decoration: none;
    border: 1px solid #424242;
    padding: 4px;
        color: #060606;
        cursor: pointer;
}
.padding15{
    padding: 15px;
}
.inputText{
        text-align: initial;
        
}
.divRow{
    padding-left: 25%;
    width: 50%;
}
.inputForm{
    border: 1px solid black;
}
.divButton{
    padding-top: 25px;
        padding-bottom: 50px;

}
.button-holderL{
width: 50%;
    float: left;
}
.button-holderR{
width: 50%;
    float: right;
}
.button-holder{
        text-align: -webkit-center;
    padding-bottom: 50px;

}
.subBtn{
    background-color: #a6afa6;
    width: 50%;
}
.okBtn{
    background-color: #a6afa6;
    width: 25%;
}
