
.mat-column-id ,.mat-column-age ,.mat-column-first_name, .mat-column-last_name, .mat-column-favourite_colour, .mat-column-hobby,.mat-column-action{
  word-wrap: break-word !important;
  white-space: unset !important;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}