<!--<div class="container mainBody">
  <h1 class="h1Text">Rest API Demo</h1>-->
  <div class="row padding15">
    <div class="col-sm-6">
      <span><a [routerLink]="'/register'" class="anchor">Register Person</a></span>
    </div>
  </div>
  <div class="row">
  <div *ngIf="myDataArray.length == 0">{{responseMessage}}</div>
  <div *ngIf="myDataArray.length != 0">
    <table mat-table [dataSource]="myDataArray" class="mat-elevation-z8 matTable">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef > ID. </th>
        <td mat-cell *matCellDef="let element" [align]="'center'"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef > First Name </th>
        <td mat-cell *matCellDef="let element" [align]="'center'"> {{element.first_name}} </td>
      </ng-container>
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef > Last Name </th>
        <td mat-cell *matCellDef="let element" [align]="'center'"> {{element.last_name}} </td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element" [align]="'center'"> {{element.age}} </td>
      </ng-container>
      <ng-container matColumnDef="favourite_colour">
        <th mat-header-cell *matHeaderCellDef> Favourite Colour </th>
        <td mat-cell *matCellDef="let element" [align]="'center'"> {{element.favourite_colour}} </td>
      </ng-container>
      <ng-container matColumnDef="hobby">
        <th mat-header-cell *matHeaderCellDef> Hobby </th>
        <td mat-cell *matCellDef="let element" [align]="'center'"> {{element.hobby}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" [align]="'center'">
          <span><a [routerLink]="'/view'" [queryParams]="{id: element.id,action:'edit'}" class="anchor">Edit</a></span> &nbsp;
          <span><a [routerLink]="'/view'" [queryParams]="{id: element.id,action:'view'}" class="anchor">View</a></span> &nbsp;
          <span><a (click)="onDelete(element.id)" class="pointer" class="anchor">Delete</a></span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
<!--</div>
</div>-->