<form [formGroup]="registerForm" class="example-form" *ngIf="showRegister">
    <div class="divRow">
        <div class="col-sm-4 inputText">
            <mat-label>First Name</mat-label>
        </div>
        <div class="col-sm-4 inputText">
            <mat-form-field class="example-full-width inputForm" appearance="outline">
                <input matInput formControlName="first_name" >
            </mat-form-field>
        </div>
    </div>
    <div class="divRow">
        <div class="col-sm-4 inputText">
            <mat-label>Last Name</mat-label>
        </div>
        <div class="col-sm-4 inputText">
            <mat-form-field class="example-full-width inputForm" appearance="outline">
                <input matInput formControlName="last_name" >
            </mat-form-field>
        </div>
    </div>
    <div class="divRow">
        <div class="col-sm-4 inputText">
            <mat-label>Age</mat-label>
        </div>
        <div class="col-sm-4 inputText">
            <mat-form-field class="example-full-width inputForm" appearance="outline">
                <input matInput formControlName="age" type="number" >
            </mat-form-field>
        </div>
    </div>
    <div class="divRow">
        <div class="col-sm-4 inputText">
            <mat-label>Favourite Colour</mat-label>
        </div>
        <div class="col-sm-4 inputText">
            <mat-form-field class="example-full-width inputForm" appearance="outline">
                <input matInput formControlName="favourite_colour" >
            </mat-form-field>
        </div>
    </div>
    <div class="divRow">
        <div class="col-sm-4 inputText">
            <mat-label>Hobby (Press Enter To Add Hobbies)</mat-label>
        </div>
        <div class="col-sm-4 inputText">
            <mat-form-field class="example-full-width inputForm example-chip-list" appearance="outline">
 <mat-chip-list #chipList aria-label="Enter Hobby">
                    <mat-chip *ngFor="let hobby of hobbyList" [selectable]="selectable" [removable]="removable" (removed)="remove(hobby)">
                        {{hobby}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New hobby..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>            </mat-form-field>
        </div>
    </div>
    <div class="divRow divButton">
        <div class="button-holderR">
            <button mat-button (click)="addPerson()" class="anchor subBtn">Add</button>
        </div>
        <div class=" button-holderL">
            <button mat-button [routerLink]="'/home'" class="anchor subBtn">Home</button>
        </div>
    </div>
</form>
<div class="container"  *ngIf="!showRegister">{{responseMessage}} 
    <div class="divRow divButton">
        <div class="button-holder">
            <button mat-button [routerLink]="'/home'" class="anchor okBtn">OK</button>
        </div>
    </div>
</div>